#quicktabs-user_dashboard .quicktabs-tabs li:nth-child(2) {
    display:none;
}

.executive_user #quicktabs-user_dashboard .quicktabs-tabs li:nth-child(2) {
    display:block;
}

#search-my-job-form .form-item-recv-date-date label[for=edit-recv-date-datepicker-popup-0] {
    display:none;
}

#block-user-dashboard-dashboard-myjobs #search-my-job-form {
    display:none;
}

.search_my_job_link {
    cursor:pointer;
}

.stricken_job {
    text-decoration: line-through;
}

.status_list {
    width: 80px;
    
}

.status_list option{
    font-size:10px;
}
.span_status_select{
    display:none;
}

.span_status_label{
    cursor:pointer;
}

.resource_count_textfield {
    width:50px;
}
.resource_count_field{
    display:none;
}

.resource_count_label{
    cursor:pointer;
}

.invoice_status_list {
    width: 80px;
    
}

.invoice_status_list option{
    font-size:10px;
}
.span_invoice_status_select{
    display:none;
}

.span_invoice_status_label{
    cursor:pointer;
}